<div class="container">
  <div class="row">
    <h5>観光地登録</h5>
  </div>
  
  <div class="row">
    <% if @tourist_spot.errors.any? %>
      <%= @tourist_spot.errors.count %>件のエラーが発生しました。
      <ul>
        <%= @tourist_spot.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    <% end %>
  </div>
  
  <div class="row">
    <%= form_with model: @tourist_spot, url: admin_tourist_spots_path, method: :post do |f| %>
    <table>
      <tr><td>観光地画像</td><td><%= f.file_field :image,accept: "image/*" %></td></tr>
      <tr><td>観光地名</td><td><%= f.text_field :name %></td></tr>
      <tr><td>観光地説明</td><td><%= f.text_area :explanation %></td></tr>
      <tr><td>郵便番号</td><td><%= text_field_tag :zipcode, nil, class: 'form-control', placeholder: "郵便番号" %></td></tr>
      <tr><td>住所</td><td><%= f.text_field :address, class: 'form-control', placeholder: "住所" %></td></tr>
      <tr><td>おすすめ季節</td><td><%= f.radio_button :season, :spring, id:"spring" %><label for="spring">春</label>
                                   <%= f.radio_button :season, :summer, id:"summer" %><label for="summer">夏</label>
                                   <%= f.radio_button :season, :autumn, id:"autumn" %><label for="autumn">秋</label>
                                   <%= f.radio_button :season, :winter, id:"winter" %><label for="winter">冬</label></td></tr>
    </table>
    <%= f.submit "新規登録", class: 'btn btn-success' %>
    <% end %>
  </div>
</div>

<%= javascript_pack_tag "jpostal", 'data-turbolinks-track': 'reload' %>