<div class="d-flex mt-4 ml-5">
  <div>
    <%= form_with url: search_path, method: :get, local: true do |f| %>
      <%= f.text_field :content %>
      <%= f.select :method, options_for_select({"完全一致" => "perfect", "前方一致" => "forward", "後方一致" => "backward", "部分一致" => "partial"}) %>
      <%= f.submit "検索" %>
    <% end %>
  </div>
  <div class="ml-3">
    <%= form_with url: tagsearch_path, method: :get, local: true do |f| %>
      <%= f.text_field :content %>
      <%= f.submit "タグ検索" %>
    <% end %>
  </div>
  <div class="ml-3">
    <%= link_to "観光地追加", new_admin_tourist_spot_path, class: 'btn btn-primary' %>
  </div>
</div>
<div class="card-list-container pt-3 d-flex flex-wrap">
  <% @tourist_spots.each do |tourist_spot| %>
  <div class="card w-25 mx-auto mt-4 shadow-lg">
    <%= link_to admin_tourist_spot_path(tourist_spot.id) do %>
      <%= image_tag tourist_spot.image, class: "card-img-top"; %>
    <% end %>
    <div class="card-body">
      <div class="row">
        <div class="col-10">
          <p class="card-title">
            <%= link_to(admin_tourist_spot_path(tourist_spot.id), class: "text-dark") do %>
              <strong><i class="far fa-flag"></i><span><%= tourist_spot.name %></span></strong>
            <% end %>
          </p>
          <p class="card-text"><%= tourist_spot.address %></p>
          <p class="card-text"><%= tourist_spot.category %></p>
          <span><%= link_to "#{tourist_spot.favorites.count} 人登録", admin_tourist_spot_path(tourist_spot.id), class: "text-dark" %></span>
        </div>
      </div>
    </div>
  </div>
  <% end %>
  <%= paginate @tourist_spots %>
</div>