<div class="container">
  <div class="row">
    <h5>観光地詳細</h5>
  </div>
  <div class="row">
    <%= image_tag @tourist_spot.image, size: "350x250" %>
    <%= @tourist_spot.name %>
    <%= @tourist_spot.explanation %>
    <%= @tourist_spot.address %>
    <%= @tourist_spot.season_i18n %>
  </div>
  <%= link_to "編集", edit_admin_tourist_spot_path %>
  <div id="map"></div>
</div>

<%= javascript_pack_tag 'map', 'data-turbolinks-track': 'reload' %>