<div class="container">
  <div class="row mt-5">
    <div class="col">
      <div>
        <h3><strong><%= @tourist_spot.name %></strong> <%= link_to "削除する", admin_tourist_spot_review_path, method: :delete, class: 'btn btn-danger' %></h3>
      </div>
      <div>
        <p><%= @tourist_spot.address %></p>
      </div>
    </div>
  </div>
  <div class="row py-3 border-top border-bottom">
    <div class="col">
      <div>
        <h5><%= @review.customer.last_name %> <%= @review.customer.first_name %></h5>
      </div>
      <div class="mt-2">
        <h5><strong><%= @review.title %></strong></h5>
      </div>
      <div id="star_<%= @review.id %>", class="mb-1"></div>
        <script>
        $(document).on('turbolinks:load', function() {
          let elem = document.querySelector('#star_<%= @review.id %>');
          if (elem == null) return;
  
          elem.innerHTML = "";
          let opt = {  
            starOn: "<%= asset_path('star-on.png') %>",
            starOff: "<%= asset_path('star-off.png') %>",
            starHalf: "<%= asset_path('star-half.png') %>",
            score: "<%= @review.evaluation %>",
            readOnly: true,
          };
          raty(elem, opt);
        });
        </script>
      <div>
        <%= @review.thoughts %>
      </div>
    </div>
  </div>
  
  <div class="row mt-3">
    <div class="col-md-4"></div>
    <div class="col-md-7 offset-md-1">
      <% @comments.each do |comment| %>
      <div class="mb-2 border-bottom">
        <h5><%= comment.customer.last_name %> <%= comment.customer.first_name %> <%= link_to "削除", admin_comment_path(comment.id), method: :delete, class: 'btn btn-danger' %></h5>
        <p><%= comment.thoughts %></p>
      </div>
      <% end %>
    </div>
  </div>
</div>