<div class="container">
  <div class="row">
    <h5>レビュー投稿</h5>
  </div>
  
  <div class="row">
    <% if @review.errors.any? %>
      <%= @review.errors.count %>件のエラーが発生しました。
      <ul>
        <%= @review.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    <% end %>
  </div>
  
  <div class="row">
    <%= form_with model: @review, url: tourist_spot_reviews_path, method: :post do |f| %>
      <div>
        <%= f.label :観光地画像 %>
        <%= f.file_field :image,accept: "image/*" %>
      </div>
      <div>
        <%= f.label :感想 %>
        <%= f.text_area :thoughts %>
      </div>
      <div id="evaluation">
        <%= f.label :評価 %>
        <%= f.hidden_field :evaluation, id: :review_evaluation %>
        <div id="post-raty"></div>
      </div>
      <script>
        $(document).on('turbolinks:load', function() {
          let elem = document.querySelector('#post-raty');
          if (elem == null) return;
          
          elem.innerHTML = ""
          let opt = {
            starOn: "<%= asset_path('star-on.png') %>",
            starOff: "<%= asset_path('star-off.png') %>",
            starHalf: "<%= asset_path('star-half.png') %>",
            scoreName: 'review[evaluation]',
          };
          raty(elem, opt);
        });
      </script>
      
      <%= f.hidden_field :tourist_spot_id, value: @tourist_spot.id %>
      <%= f.hidden_field :customer_id, value: current_customer.id %>
    <%= f.submit "投稿する", class: 'btn btn-success' %>
    <% end %>
  </div>
</div>