<div class="container">
  <div class="row">
    <h5>レビュー投稿</h5>
  </div>
  
  <div class="row">
    <% if @review.errors.any? %>
      <%= @review.errors.count %>件のエラーが発生しました。
      <ul>
        <%= @review.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    <% end %>
  </div>
  
  <div class="row">
    <%= form_with model: @review, url: reviews_path, method: :post do |f| %>
    <table>
      <tr><td>観光地画像</td><td><%= f.file_field :image,accept: "image/*" %></td></tr>
      <tr><td>評価</td><td><%= f.select :evaluation, {"1": '1', "2": '2', "3": '3', "4": '4', "5": '5'} %></td></tr>
      <tr><td>コメント</td><td><%= f.text_area :thoughts %></td></tr>
      <%= f.hidden_field :tourist_spot_id, value: @tourist_spot.id %>
      <%= f.hidden_field :customer_id, value: current_customer.id %>
    </table>
    <%= f.submit "投稿する", class: 'btn btn-success' %>
    <% end %>
  </div>
</div>